@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Black+Han+Sans&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400;1,700;1,900&family=Noto+Sans+KR:wght@100;200;300;500;600;700;800;900&display=swap');

body,
h1,
h2,
h3,
h4,
p,
button,
fieldset,
legend,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:enabled{
  cursor: pointer;
}

ul{
  list-style: none;
}

.layout-header {
  height: 80px;
  padding: 0 20px;
  border-bottom: 7px solid rgb(0, 39, 145);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.layout-header::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: rgb(255, 211, 0); 
}

h1 {
  font-family: 'Archivo Black', sans-serif;
  font-weight: bolder;
  font-size: 43px;
  color: rgb(0, 39, 145);
}

.photo {
  float: left;
  width: 650px;
  height: 550px;
  padding: 39px 40px 30px 100px;
}

.right-content {
  display: flex;
  flex-direction: column;
  padding: 39px 100px 30px 40px;
  gap: 10px;
}

.layout-footer{
  text-align: left;
  color: rgb(190, 190, 190);
  padding:10px 8px 0 30px;
  clear: both;
}
